<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB_IndexColegioConnectionString" connectionString="Data Source=CMUNOZ-NBACER\SQLEXPRESS2014;Initial Catalog=BD_Consulting2203;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <!--<add name="DB_IndexColegioConnectionString" connectionString="Data Source=localhost;Initial Catalog=BD_Consulting2203;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="JQGridConnectionString" connectionString="Data Source=pcsysnoa;Initial Catalog=JQGrid;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
